body {
    font-family: "Nunito", sans-serif;
}
header {
    width: 100%;
    height: 80px;
    background-color: white;
}
header .logo {
    height: 100%;
    padding: 1vw;
    padding-left: 4vw;
}
header .logo img, header .logo h1{
    display: inline-block;
}
header .logo h1 {
    color: darkblue;
    line-height: 30px;
}
header .navigation {
    height: 100%;
    margin-left: auto; 
    margin-right: 3vw;
    float: right;
    text-align: center;
}
header .navigation nav ul li{
    display: inline-block;
    padding: 1vw;
    font-weight: bold;
}
header .navigation nav ul li a{
    text-decoration: none;
    color: darkblue;
}
header .navigation nav ul li .nav-home, header .navigation nav ul li .nav-contact{
    color: blue;
}
header .navigation nav ul li .but {
    display: inline-block;
    height: 35px;
    background-color: rgb(52, 116, 255);
    color: white;
    border-radius: 5%;
    line-height: 35px;
    padding: 2px 18px 2px 18px;
    text-align: center;
}
header .logo, header .navigation {
    display: inline-block;
}
/* End of header */
.main-section {
    height: 500px;
    background-color: white;
}
.main-section .main-left {
    width: 45%;
    padding: 90px 50px 50px 50px;
    vertical-align: top;
    font-size: 1.7vw;
}
.main-section .main-left h1 {
    color: darkblue;
}
.main-section .main-left h3 {
    color: rgb(95, 95, 95);
}
.main-section .main-left a {
    font-size: 1.3vw;
}
.main-section .main-left, .main-section .main-right {
    display: inline-block;
}
.main-section .main-left .but2 {
    display: inline-block;
    height: 40px;
    background-color: rgb(52, 116, 255);
    color: white;
    border-radius: 5%;
    line-height: 40px;
    padding: 2px 40px 2px 40px;
    text-align: center;
    box-shadow: 0px 00px 10px 10px rgb(52, 116, 255, 0.2);
}
