body {
    font-family: 'Varela Round', sans-serif;
}
header {
    width: 100%;
    height: 80px;
    background-color: white;
}
header .logo {
    height: 100%;
    padding: 1vw;
    padding-left: 4vw;
    width: 12%;
}
header .logo img, header .logo h1{
    display: inline-block;
    font-size: 2.3vw;
}
header .logo h1 {
    color: darkblue;
    line-height: 30px;
}
header .navigation {
    height: 100%;
    width: 75%;
    margin-left: auto; 
    margin-right: 3vw;
    float: right;
    text-align: center;
}
header .navigation nav ul li{
    display: inline-block;
    padding: 1vw;
    font-weight: bold;
}
header .navigation nav ul li a{
    text-decoration: none;
    color: darkblue;
    font-size: 1.4vw;
}
header .navigation nav ul li .nav-home, header .navigation nav ul li .nav-contact{
    color: blue;
}
header .navigation nav ul li .but {
    display: inline-block;
    height: 35px;
    background-color: rgb(52, 116, 255);
    color: white;
    border-radius: 5%;
    line-height: 35px;
    padding: 2px 18px 2px 18px;
    text-align: center;
}
header .logo, header .navigation {
    display: inline-block;
}
/* End of header */
.main-section {
    height: 500px;
    background-color: white;
}
.main-section .main-left {
    width: 45%;
    padding: 5% 5% 5% 5%;
    vertical-align: top;
    font-size: 1.7vw;
}
.main-section .main-left h1 {
    color: darkblue;
}
.main-section .main-left h3 {
    color: rgb(95, 95, 95);
}
.main-section .main-left a {
    font-size: 1.3vw;
}
.main-section .main-left, .main-section .main-right {
    display: inline-block;
}
.main-section .main-left .but2 {
    display: inline-block;
    height: 40px;
    background-color: rgb(52, 116, 255);
    color: white;
    border-radius: 5%;
    line-height: 40px;
    padding: 0% 2% 0% 2%;
    text-align: center;
    box-shadow: 0px 00px 10px 10px rgb(52, 116, 255, 0.2);
}
.main-section .main-right {
    width: 40%;
}
.main-section .main-right img{
    width: 95%;
    height: 95%;
}

.our-values {
    text-align: center;
    width: 100%;
}
.our-values article {
    display: inline-block;
    width: 26%;
    border: 2px solid black;
    margin: 10px;
    padding: 30px 15px 30px 15px;
}
.our-values article img{
    width: 70%;
    height: 70%;
}
.pricing {
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.pricing article {
    display: inline-block;
    width: 20%;
    border: 2px solid black;
    margin: 10px;
    padding-bottom: 20px;
}
.pricing article img{
    width: 60%;
    height: 60%;
    padding: 20px 10px 0px 10px;
}
.pricing article button {
    margin: 20px;
}
.team {
    text-align: center;
    width: 100%;
    padding: 20px 0px 20px 0px;
}
.team article {
    display: inline-block;
    width: 20%;
    border: 2px solid black;
    margin: 10px;
}
.team article img{
    width: 100%;
    height: 100%;
}
footer {
    width: 100%;
    padding: 20px 0px 20px 0px;
}
footer .upper {
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
}
footer .upper .left {
    vertical-align: top;
    width: 40%;
    padding: 20px 10px 20px 50px;
}
footer .upper .left, footer .upper .links {
    display: inline-block;
}
footer .upper .left .logo img{
    width: 25px;
    height: 25px;
}
footer .upper .left .social-net {
    display: inline-block;
}
footer .upper .links {
    vertical-align: top;
    width: 50%;
}
footer .upper .links div {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
footer .upper .links div ul li{
    line-height: 35px;
    font-size: 14px;
    list-style: none;
}
footer .upper .links div ul li a{
    text-decoration: none;
}
footer .upper .links .contact p{
    line-height: 10px;
    font-size: 14px;
}
footer .lower {
    text-align: center;
}


